<div class="about-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr> 
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "download.png", class: "img-fluid", alt: "Profile picture" %>
        <div class="mt-3 mb-3">
          <% @skills.each do |skill| %>
            <h4><%=skill.title%></h4>
            <div class="progress">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: <%= skill.percent_utilized %>%"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
        <% end %>
        </div>
      </div>

      <div class="col-md-8 text-left">
        
        <p>Experienced Field Service Engineer with a demonstrated history of working
         in the food processing, packaging and manufacturing industry. As I'm very 
         passionate about learning new things, I acquired many skills which helped me 
         have a successful and rewarding career. After 12 years of working in the 
         manufacturing and food industry, I decided it was time for a career change to 
         tech. The change was borne out of my strong love for computer and coding.</p>

        <p>To deepen my technical knowledge of the web and realize my goal of becoming
         a web developer, I enrolled in Full Stack Web Development program at Le Wagon 
         Berlin where I recently graduated. I must admit that I am really happy to see 
         what this coding bootcamp has brought me: new hard & soft skills, a better 
         approach for technical projects, new encounters and an even stronger passion 
         for digital!

        I'm open to opportunities to work as a developer. I'm ready to put my newly 
        acquired skills to use by building apps as side projects. Stay tuned! </p>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Job History
          </button>

          <button
            class="btn btn-primary" 
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Education
          </button>
        </p>
          
        <div class="collapse" id="jobHistory">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag "tetrapak.png", width: 100, height: 80, alt: "Tetra Pak" %>
              </div>

              <div class="col-md-9">
                <strong>Service Engineer</strong>- Conduct preventive and corrective maintenance 
                activities in line with global Tetra Pak standard procedures.
                Execute installation tasks, including the assembly of
                machines and conveyors.
              </div>
            </div>
          </div>

          <div class="card card-body">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag "p&g.jpg", width: 150, height: 100, alt: "P&G" %>
              </div>

              <div class="col-md-9">
                <strong>Electrical/Instrumentation Technician</strong>-  Participates in Commissioning,
                Qualification, and Verification (CQV) of many startup projects.
                Troubleshoots PLC problems(Siemens S7 300, Allen Bradley contrologix )
              </div>
            </div>
          </div>
        </div>

        <div class="collapse" id="education">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag "lewagon.png", width: 140, height: 100, alt: "Lewagon" %>
              </div>

              <div class="col-md-9">
                9- week intensive Full Stack Web Development Coding Bootcamp at Le Wagon Berlin
              </div>
            </div>
          </div>

          <div class="card card-body">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag "cie.jpg", width: 120, height: 100, alt: "CIE" %>
              </div>

              <div class="col-md-9">
                Graduated from Cleveland Institute of Electronics USA with Bachelor of Electronis Engineering Technology
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



